<h1>My Projects</h1>

<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item">avatar <img src="" class="img-rounded img-responsive"/></li>
      <li class="list-group-item">My name</li>
      <li class="list-group-item">Date joined: Jan 1, 2016</li>
    </ul>
  </div>

  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="repo-list-stats">
          <span class="repo-list-stat-item">Repo language</span>
          <span class="repo-list-stat-item"><i class="fa fa-star"></i>0</span>
          <span class="repo-list-stat-item"><i class="fa fa-code-fork"></i>1</span>
        </div>
        <h4>
          Repo name
        </h4>
        <p>
          Repo description
        </p>
        <p class="repo-list-meta">
          Updated on Jan 1, 2016
        </p>
      </li>
    </ul>
  </div>
</div>